*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #fdfdfd;
  box-sizing: border-box;
  color: #222;
  font-family: monospace;
  line-height: 1.5;

  &.wf-active,
  &.no-js {
    font-family: 'Roboto Mono', monospace;
  }

  @media screen and (min-width: $breakpoint-4) {
    font-size: 112.5%;
  }

  @media screen and (min-width: $breakpoint-5) {
    font-size: 120%;
  }

  @media screen and (min-width: $breakpoint-6) {
    font-size: 125%;
  }
}

label,
button {
  cursor: pointer;
}

button,
textarea,
code {
  font-family: inherit;
}

code {
  font-weight: 700;
}

h1,
h2 {
  line-height: 1.3;
  margin: 0;
}

a {
  background-color: transparent;
  border-bottom: 3px solid rgba(#639, .5);
  color: #639;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 100ms ease-in, border-bottom 100ms ease-in;

  &:focus,
  &:hover {
    background-color: rgba(#639, .125);
    border-bottom-color: #639;
  }
}
