.form {
  &__textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 10rem;
    margin-bottom: .5rem;
    padding: .75rem;
    resize: none;
    transition: border-color 100ms ease-in;
    width: 100%;

    &::placeholder {
      color: #888;
    }

    &:focus,
    &:hover {
      border-color: #999;
    }
  }

  &__button-group {
    display: flex;
    flex-direction: column;
  }

  &__button {
    background-color: #639;
    border: 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    padding: 1rem 2rem;
    transition: background-color 100ms ease-in;

    &:focus,
    &:hover {
      background-color: darken(#639, 5%);
    }
  }

  &__error {
    flex-grow: 1;

    &_hidden {
      display: none;
    }
  }

  @media screen and (min-width: $breakpoint-1) {
    &__button-group {
      align-items: center;
      flex-direction: row;
    }

    &__button {
      margin-bottom: 0;
    }

    &__error {
      margin-left: 1rem;
      text-align: right;
    }
  }

  @media screen and (min-width: $breakpoint-2) {
    &__button {
      font-size: 1.25rem;
    }
  }
}
