
.header__title,
.header__text,
.header__list {
  margin-bottom: .5rem;
}

.header__title {
  font-size: 2rem;
  font-weight: 700;
}

.header__text,
.header__list {
  font-size: 1.125rem;
}

.header__list {
  display: flex;
  list-style-type: none;
}

.header__list-item {
  margin-right: 1.5rem;
}

@media (--viewport-breakpoint-2) {
  .header__title {
    font-size: 2.5rem;
  }

  .header__text,
  .header__list {
    font-size: 1.25rem;
  }
}

